@charset "UTF-8";

/*poppins*/@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*GERAL*/
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #3232ff;
}

body{
    background-color: rgb(255, 255, 255);
}

img{
    max-width: 100%; /*coloca max para a img nãopassar do seu tamanho limite*/
}
/*PROPAGANDA BANNER TOPO*/

.banner-principal-topo{
    display: flex;
    width: 100%;
    height: 50PX;
    background-color: #ca1f1f;
    justify-content: center;
    background-size: cover;
    background-image: url("img/banner_principal_topo.jpg");
    background-position: center;
}
.banner-principal-topo img{
    background-size: cover;
    background-position: center center;
}
.img-banner-principal-topo{
    max-width: 100%;
}

/*HEADER*/

nav{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}
nav li{
    height: 40px;
}
nav li:first-child{/*somente o primeiro item fica alinhado*/
    margin-right: auto;
    padding-left: 1.56em;
}

nav a{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.icon{
    fill: #fff;
}

/*navegador*/
nav .hideMobile a{
    color: #ffffff;
}

.hideMobile a:hover{
    background-color: #ffffff;
    color: #1f1fff;
    border-radius: 5px 5px 0px 0px;
}

#nav_select a{
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
    color: #1f1fff;
}    
/*mobile*/
.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: hsla(0, 0%, 100%, 0.295);
    box-shadow: -10px 0px 10px hsla(0, 0%, 0%, 0.212);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(7px);
}

.sidebar a{
    color: #1f1fff;
    width: 100vw;
    font-size: 14pt;
}

.sidebar a:hover{
    color: #02027e;
}

/*MAIN*/
main{
    margin: auto;
    padding: 0.625em;/*1em equivale a 16 pixels*/
    max-width: 75em;
    background-color: rgb(255, 255, 255);
}
h2{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    border-left: 5px solid #1f1fff;
    margin: 20px 0px 10px 0px;
    padding: 5px 0px;
    text-indent: 8px;
}

.vitrine{
    width: 100%;
    display: flex;
    justify-content: center;/*para centralizar*/
    flex-wrap: wrap; /*quebra linha*/
    gap: 50px; /*separa de forma igual*/
}
.produto{
    display: block;
    width: 233px;
    height: 417px;
    border: 2px solid #cfcece;
    border-radius: 5px;
}
img{
    max-width: 100%;/*233px*/
}

.img-produto{
    height: 55%;
}

.descricao-produto{
    height: 35%;
}

.valor-produto{
    height: 10%;
}

p{
    font-size: 13pt;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: justify;
    padding: 15px 8px;
    color: #8f8f8f;
}
h3.preco{
    color: #3636fc;
    padding: 10px 0px 0px 5px;
    font-weight: 600;
    font-size: 18pt;
}

/*propaganda web*/
.propaganda{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.propaganda_gd{/*450x200*/
    justify-content: center;
    max-width: 450px;
}

.bloco_propaganda_pq{
    gap: 30px;
}

.propaganda_pq{/*225x200*/
    background-color: blueviolet;
    max-width: 100%;
}

/*CABECALHO*/
footer{
    text-align: center;
    background-color: #3232ff;
    color: #fff;
}

/* PARA RESPONSSIVIDADE*/

@media screen and (orientation: portrait /*para dispositivos em pé*/)/*tem o landscape para dispositivo deitado*/{

}

@media (max-width: 1025px){
    .vitrine{
        gap: 10px;
    }
}

@media (min-width:768px){
    /*INICIO MENU NAVEGAÇÃO*/
    .hideDesktop{
        display:none;
    }
    /*FIM MENU NAVEGAÇÃO*/
}
@media (max-width: 768px){
.vitrine{
    gap: 3px;
}
.produto{
    width: 23vw;
    height: 324px;
}

p{
    font-size: 12pt;
}

h3.preco{
    padding-top: 5px;
    font-size: 14pt;
}

}
@media (max-width:555px){
    .vitrine{
        gap: 5px;
    }
    .produto{
        min-height: 300px;
    }
    .descricao-produto p{
        font-size: 11pt;
    }
   
    /*INICIO MENU NAVEGAÇÃO*/
    .hideMobile{
        display:none;
    }
    /*FIM MENU NAVEGAÇÃO*/

@media (min-width: 530px) and (max-width:537px){
    .produto{
        width:43vw;
        height: 430px;
    }
    h3.preco{
        padding:10px;
    }
}
}
@media(max-width: 426px){
    .vitrine{
        gap: 8px;
    }
    .produto{
        max-width: 172.75px;
        width: 45vw;
        border-width: 2px;
    }

    .img-produto{
        height: 58%;
    }
    
    .descricao-produto{
        height: 34%;
    }
    
    .valor-produto{
        height: 8%;
    }

    p{
        padding-top: 0px;
        font-size: 10pt;
    }
    
    h3.preco{
        padding-top: 5px;
        font-size: 12pt;
    }


    .bloco_propaganda_pq{
        max-width: 95vw;
        gap: 15%;
    }

    .propaganda_pq{
        background-color: blueviolet;
        max-width: 145px;
    }
}

@media(max-width:321px){
    .vitrine{
        gap: 4px;
    }

    p{
        font-size: 10pt;
    }

    h3.preco{
        padding-top: 4px;
    }

    .img-produto{
        height: 49%;
    }
    
    .descricao-produto{
        height: 41%;
    }
    
    .valor-produto{
        height: 10%;
    }

    .bloco_propaganda_pq{
        gap: 5%;
    }
}